[Unit]
Description=Gogs
After=network.target
After=postgresql.service
Wants=postgresql.service

[Service]
Type=simple
User={{ gogs_user }}
Group={{ gogs_group }}
WorkingDirectory={{ gogs_home }}
ExecStart={{ gogs_home }}/gogs web
Restart=always
Environment=USER={{ gogs_user }} HOME=/home/{{ gogs_user }}

[Install]
WantedBy=multi-user.target